{% extends 'html/base.html' %}
{% block content %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">todo - edit </a>
      <a href="{% url 'main' %}"><button class="btn btn-outline-light">HOME</button></a>
  </div>
</nav>
<div style="text-align: center;">
  <br>
        <img src="{{ todo.img.url }}" alt="old img" style="with: 400px; height: 300px;">

  <form method="post">
    <br>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <button class="btn btn-outline-dark" type="submit">Save Changes</button>
  </form>
</div>
{% endblock %}